html,body div, h1, a {
    margin: 0;
    padding:0;
    border: 0;
    text-align:left;
}

body {
        margin: 0; 
        padding: 0; 
        background-image: url('sample4.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-attachment: fixed;
        height: 100vh;
        line-height: 1.3;
        margin-top: 80px;
}

.social-icons {
    display: flex;
    align-items: left;
}

.social-icons a {
    margin-right: 20px; 
    text-decoration: none;
}

.social-icons i {
    font-size: 30px; 
}

.social-icons a {
    text-decoration: none;
    margin-right: 15px;
}

/* individual color */
.social-icons i.fab.fa-linkedin {
    color: #0077B5; 
}
.social-icons i.fab.fa-facebook {
    color: #1877F2; 
}
.social-icons i.fab.fa-github {
    color: #491111b1; 
}
.social-icons i.far.fa-envelope {
    color: #D44638; 
}

/* hover effect for icons*/
.social-icons i.fab.fa-linkedin:hover {
    color: #000000; 
}
.social-icons i.fab.fa-facebook:hover {
    color: #000000; 
}
.social-icons i.fab.fa-github:hover {
    color: #000000; 
}
.social-icons i.far.fa-envelope:hover {
    color: #000000; 
}



.clearfix h1,h3{
    text-align: center;
    color: #ffffff;
}

.clearfix{
    float: left;
    position: fixed;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.image-container {
    float: left; 
    border: 2px solid white;
    border-radius: 49%;
    margin-left: 75px;
    margin-right: 40px;
    margin-top: 70px;
    overflow: hidden;
}
   
.image-container img{
    width: 400px;
    height: 400px;
}
    
header {
    background-color: rgba(255, 255, 255, 0.868); 
    color: #000000;
    border: #000000;
    font-weight: bold; 
    font-size: 1.1em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top:0;

}

header a{
    text-decoration: none;
    color: #000000;
}

header h1{
    margin-bottom: 5px;
    margin-left: 15px;
}

nav{
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;   
}

nav a{
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 900px;
    margin-left:600px; 
    margin-top: 20px;
    padding: 15px;
    float: left;

}

.container h2{
    color: #7600d7;
    text-align: center;
   
}


section {
    margin: 20px;
}


/* Specific styles for each section */

/* Education */
#education ul {
    list-style-type: none;
    padding: 0;
}

#education li {
    margin-bottom: 10px;
}
#education {
    margin-top: 20px;
}

/* Skills */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    margin-bottom: 10px;
}

/* Projects */
.project {
    background-color: rgba(255, 255, 255, 0.929); 
    color: #000000;
    border: 3px solid rgba(231, 47, 255, 0.562);
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.831); 
    padding:20px;
    margin: 20px auto;
    margin-left: 130px;
    align-content: right;
    width: 80%;
    max-width: 600px;

}

.project p{
    margin-bottom: 15px;
}

.project h3{
    color: #000000;
    text-align: left;
}


.project table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    padding: 60px;
}


.project th, .project td {
    border: 1px solid #000000;
    padding: 15px;
    text-align: left;
    background-color: #c81dea3b;
}

.project th {
    background-color: #ff0ee763;
    
    
}

/* Hover effect on navigation links */
nav a {
    color: #000000;
    text-shadow: 0 0 1.5px #eee6e6; 
    text-decoration: none;
    font-weight: bold; 
    font-size: 1.2em;
    text-shadow: 0 0 2.1px #ffffff3f; 
    text-align: center;
}

nav a:hover {
        color: rgba(251, 30, 255, 0.877);
        border-bottom: 2px solid rgb(55, 0, 255);
        border-top: 2px solid rgb(55, 0, 255);
        border-radius: 3px;
}
